{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="post_separator">
        {% if post.published_date %}
            <div>
                <p id="date_detail"> Published: {{ post.published_date }}</p>
            </div>
        {% endif %}
        <a href="{% url 'post_edit' pk=post.pk %}"><img class="edit_button_detail" src="{% static 'css/Imagenes/editar.png' %}" alt="Edit_botton"></a>
        <h2 class="title_detail">{{ post.title }}</h2>
        <p id="text_detail">{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}