html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }

/*Fin del reset CSS.*/

body{
    background-color: black;
}

.imagen_elephant{
    float: left;
    width: 11%;
    height: auto;
}

.text_title{
    color: papayawhip;
    font-family: 'Caveat', cursive;
    font-size: 6vw;
}

#add{
    padding-top: 28px;
    padding-left: 20px;
    width: 4%;
    height: auto;
    box-sizing: border-box;
}

.question{
    color: lightblue;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'Caveat', cursive;
    font-size: 2vw;
    clear: left;
    float: left;
    box-sizing: border-box;
}

footer{
    color: gray;
    padding-top: 5%;
    padding-left: 30px;
    box-sizing: border-box;
}

.post p, h2{
    color: lightblue;
    padding-left: 15px;
}

.post_separator{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 47%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
}

#date{  
    font-size: 12px;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Sulphur Point', sans-serif;
    color: black;
}

.edit_button{
    padding-top: 10px;
    padding-left: 420px;
    width: 3%;
    height: auto;
}

.title{
    font-family: 'Stylish', sans-serif;
    font-size: 32px;
    color: black;
}

.title:hover{
    color: lightcoral;
}

#text{
    font-family: 'Sulphur Point', sans-serif;
    color: black;
    padding-left: 15px;
}

/* ------------------------ DETAIL ------------------------ */

#date_detail{  
    font-size: 12px;
    padding-left: 15px;
    padding-top: 10px;
    margin-top: 10px;
    font-family: 'Sulphur Point', sans-serif;
    color: black;
    float: left;
}

.edit_button_detail{
    padding-top: 10px;
    padding-left: 380px;
    width: 3%;
    height: auto;
}

.title_detail{
    font-family: 'Stylish', sans-serif;
    font-size: 32px;
    color: black;
    clear: left;
}

#text_detail{
    font-family: 'Sulphur Point', sans-serif;
    color: black;
    padding-left: 15px;
}


/* ------------------------ FOMULARIO ------------------------ */

.new_post{
    padding-top: 30px;
    padding-left: 88px;
    font-family: 'Stylish', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.post-form{
    color: blanchedalmond;
    font-family: 'Sulphur Point', sans-serif;
    padding-left: 40px;
    background-color: black;
}

.post-form textarea, .post-form input {
    background-color: white;
    margin: 10px;
    width: 30%;
    font-family: 'Sulphur Point', sans-serif;
}

.boton_add{
    font-family: 'Sulphur Point', sans-serif;
    margin-top: 10px;
    margin-left: 48px;
}

/* ------------------------ RESPONSIVE DESING ------------------------ */

.contenedor{
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 800px){
    .imagen_elephant{
        float: left;
        width: 50%;
        height: auto;
        max-width: 100%;
        margin-left: -12%;
    }

    .text_title{
        color: papayawhip;
        font-family: 'Caveat', cursive;
        font-size: 14vw;
        padding-left: 8%;
    }

    .question{
        color: lightblue;
        padding-left: 8%;
        padding-top: 4%;
        font-family: 'Caveat', cursive;
        font-size: 18px;
        clear: left;
        float: left;
        box-sizing: border-box;
    }

    #add{
        padding-top: 10%;
        padding-left: 4%;
        width: 12%;
        height: auto;
        box-sizing: border-box;
        max-width: 100%;
    }

    .post_separator{
        background-color: whitesmoke;
        border-radius: 10px;
        width: 84%;
        margin-bottom: 2%;
        padding-bottom: 2%;
        margin-left: 5%;
        box-sizing: border-box;
    }

    .post p, h2{
        color: lightblue;
        padding-left: 5%;
        box-sizing: border-box;
    }

    #date{  
        font-size: 12px;
        padding-left: 5%;
        padding-top: 3%;
        margin-top: 5%;
        font-family: 'Sulphur Point', sans-serif;
        color: black;
    }
    .title{
        font-family: 'Stylish', sans-serif;
        font-size: 20px;
        color: black;
    }

    #text{
        font-family: 'Sulphur Point', sans-serif;
        font-size: 13px;
        color: black;
        padding-left: 5%;
    }

/* ------------------------ DETAIL ------------------------ */

#date_detail{  
    font-size: 12px;
    padding-left: 5%;
    padding-top: 3%;
    margin-top: 5%;
    font-family: 'Sulphur Point', sans-serif;
    color: black;
    float: left;
}

.edit_button_detail{
    padding-top: 5%;
    padding-left: 12%;
    width: 7%;
    height: auto;
    clear: left;
}

.title_detail{
    font-family: 'Stylish', sans-serif;
    font-size: 20px;
    color: black;
}

#text_detail{
    font-family: 'Sulphur Point', sans-serif;
    font-size: 13px;
    color: black;
    padding-left: 5%;
}



    /*FOMULARIO*/

    .new_post{
        padding-top: 0.8%;
        padding-left: 8%;
        font-family: 'Stylish', sans-serif;
        font-size: 28px;
        font-weight: bold;
    }

    .post-form{
        color: blanchedalmond;
        font-family: 'Sulphur Point', sans-serif;
        padding-left: 8%;
        background-color: black;
    }

    .post-form textarea, .post-form input {
        background-color: white;
        margin: 10px;
        width: 70%;
        font-family: 'Sulphur Point', sans-serif;
        font-size: 14.6px;
    }

    footer{
        color: gray;
        padding-top: 15%;
        padding-left: 6%;
    }

}